:root {
  --jumbotron-padding-y: 3rem;
}

body{
    font-family: 'K2D', sans-serif;
}
profile photo{ resize: both float: left}

.v-bottom {
   display: flex;
   align-items: baseline;
}

.ptag{
    margin-top: 50px;
    margin-bottom: 50px;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    background-color: #fff;
    background-image: url(Fundamentals.gif);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

/**
.jumbotron .container {
  max-width: 40rem;
}
**/

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.text-highlighted {
  color: aliceblue;
}
